<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digitaldna.supplier">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.authorization.EnterEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.authorization.EnterPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.authorization.SmsVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.authorization.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.CommentsAndRatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.settings.ChangeLanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.settings.ChangeNameActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.ChangeEmailActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.ChangePhoneActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.ChangePasswordActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.EarningsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.SettingsMenuActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.CapacityActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.WorkingHoursActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.screens.settings.HolidaysActivity" android:screenOrientation="portrait" />
    </application>

</manifest>